.profile__title {
  margin: 0 18px 0 0;
  max-width: 294px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 915px) {
  .profile__title {
    font-size: 27px;
    line-height: 32.68px;
    width: 189px;
  }
}

@media screen and (max-width: 620px) {
  .profile__title {
    margin: 26px 10px 14px 0;
  }
}